/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */

 .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 2em 0;
 }

 .projects article:first-child {
    border-right: white;
    border-style: double;
}

 .projects a {
    color: white;
        }

footer h5, h4 {text-align: center;
}

